*
!abcddocker_installer.sh
!fslinstaller.py
!MMPS_254.tgz
!atlases.2020.10.14.tar
!mmps_home.tar.gz
!R2014b_installed.tar
!network.lic
!cshrc
!usr_pubsw_bin.zip
!FreeSurferSetup.csh
!R2021b_install_folder.tar
!pubsw_bin
!startup.m
!startup_MMPS.m
!usr_pubsw_packages_opt.tar
